
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}


li {
    padding: 1.5em;
    font-size: 1.5rem;
}


a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: #c9242b;
}


button {
    cursor: pointer;
}

.opener {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/maxim-hopman-52Kf36w124Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}

h1 {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding-top: 4em;
    text-shadow: black 3px 0 12px;
}

h2 {
    color: white;
    font-size: 5rem;
    text-align: center;
    text-shadow: black 3px 0 12px;
}

footer {
    background-color: aquamarine;
}


main {
    background-color: orchid;
    /* background-image: link rel this is how you put images in the bakcgorund; */
}


.reviews {
    background-color: yellow;
}